body {
    background-color: #3b3b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#square {
    width: 30vw;
    height: 30vw;
    background-color: whitesmoke;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
#square:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}