
.saved:hover {
    background-color: #4c8ecc;
    cursor: pointer;
    color: whitesmoke;
    transform: scale(1.03);
}

.saved p {
    font-size: 0.7em;
}
.saved .temp {
    font-size: 2em;
    text-align: left;
}
.saved img {
    width: 80px;
    place-self: center;
}
.saved h3 {
    font-size: 1em;
}