


body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: whitesmoke;
}

.box {
  width: 50vh;
  height: 50vh;
  border-radius: 20px;
  box-shadow: 0 0 8px 3px rgba(0,0,0,0.1);
  transition: 0.2s ease;
  display: grid;
  place-items: center;
}

.box:hover {
  cursor: pointer;
  transform: scale(1.01);
}