.save {
    margin-left: 10px;
    position: relative;
    top: 7px;
    font-size: 2em;
    transition: 0.2s ease;
    color: indianred;
}
.save:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(1.15);
}
.save:active {
    transform: scale(1.3);
    filter: brightness(1.25);
}