@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

header {
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    place-items: center;
}

.logo {
    color: royalblue;
    font-family: 'Rubik', sans-serif;
}