.focused {
    padding: 20px;
    padding-right: 20rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 40vh;
}

.focused .temp {
    color: royalblue;
    font-size: 5em;
}
.appTemp {
    font-size: 1.2em;
    color: royalblue;
}

.focused span {
    grid-row: 1/2;
}

.focusedImg {
    grid-column: 2/-1;
    width: 150px;
}
.tabs {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.focused li {
    color: #404040;
    font-weight: bold;
}
.focused a {
    text-decoration: none;
}
.tabContent {
    grid-column: 1/-1;
}
.focused .weatherDesc {
    text-transform: capitalize;
}
