
* {
    box-sizing: border-box;
    margin: 0;
}

body {background-color: whitesmoke;}

h1 {
    text-align: center;
}

#container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2% 10%;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 2% 0;
    background: linear-gradient(90deg, rgba(245,245,245,1) 0%, rgba(249,249,249,1) 50%, rgba(245,245,245,1) 100%);
}
/* li:last-of-type {border-bottom: 0;}
li:first-of-type {border-top: 0;} */

.imgContainer {
    width: 98px;
    height: 98px;
    display: flex;
    justify-content: center;
}

img {
    max-width: 98px;
    max-height: 98px;
    object-fit: contain;
    margin-left: 30%;
}

.check {
    margin-left: 3%;
    width: 20px;
    height: 20px;
}

.text {
    margin-left: 2%;
}

.price {
    color: green;
}

.actions {margin: 0 2% 0 auto;}
.action {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.2em;
    transition: 0.2s ease;
}
.action:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.add {
    color: rgb(51, 114, 230);
    border: 1px solid rgb(51, 114, 230);
}
.add:hover {
    color: rgb(89, 145, 250);
    transform: scale(1.05);
    background-color: rgba(89, 145, 250, 0.05);

}
.edit {color: rgb(100, 149, 237);}
.edit:hover {color: rgb(130, 179, 255);}
.delete {color: rgb(158, 0, 0);}
.delete:hover {color: rgb(198, 40, 40);}
.save {color: rgb(71, 167, 92);}
.save:hover {color: rgb(111, 207, 132);}
.back {color: rgb(158, 0, 0);}
.back:hover {color: rgb(198, 40, 40);}



.completed {
    text-decoration: line-through;
}


